@tailwind base;
@tailwind components;
@tailwind utilities;

.app-button {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
}

.app-button.red {
    @apply bg-red-600 hover:bg-red-700 focus:ring-red-300;
}

.current-page {
    @apply text-white bg-blue-500 lg:bg-transparent lg:text-blue-500;
}

.stepper-passed {
    @apply rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-teal-600;
}

.stepper-active {
    @apply rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 bg-teal-600 border-teal-600;
}

.stepper-inactive {
    @apply rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-gray-300;
}

.stepper-active-text {
    @apply absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-teal-600;
}

.stepper-inactive-text {
    @apply absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-gray-500;
}

.stepper-active-line {
    @apply flex-auto border-t-2 transition duration-500 ease-in-out border-teal-600;
}

.stepper-inactive-line {
    @apply flex-auto border-t-2 transition duration-500 ease-in-out border-gray-300;
}

